extends ../layout

block content
    .container
        a.btn.btn-secondary(href='/bicicletas') Volver

        .my-4

        h1 Datos Bicicleta

        .my-4

        form
            .form-group.shadow.p-3.mb-4.bg-white.rounded
                label(for='Code') Code:
                p#id.form-control-plaintext= bici.code
            .form-group.shadow.p-3.mb-4.bg-white.rounded
                label(for='color') Color:
                p#color.form-control-plaintext= bici.color
            .form-group.shadow.p-3.mb-4.bg-white.rounded
                label(for='modelo') Modelo:
                p#modelo.form-control-plaintext= bici.modelo
            .form-group.shadow.p-3.mb-4.bg-white.rounded
                label(for='lat') Latitud:
                p#lat.form-control-plaintext= bici.ubicacion[0]
            .form-group.shadow.p-3.mb-4.bg-white.rounded
                label(for='lng') Longitud:
                p#lng.form-control-plaintext= bici.ubicacion[1]
